@{
  ViewBag.Title = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome!</h1>
  <h4>My name is Adeline</h4>
  <h3 class="h3">With this website I will show my designing skills, using multiple languages.</h3>
  <p class="small">I'm uploading this picture, and I am keeping it small. I am doing this to show the technique I am using to hover over the image and watch the transformation.</p>
  <div class="dropdown">
    <img src="~/Content/Abstract2.png" width="100" height="50" />
    <div class="dropdown-content">
      <img src="~/Content/Abstract2.png" width="300" height="200" />
      <div class="desc">I Love art!</div>
    </div>
  </div>
</div>

<center><p class="small">This is my button with hover effects!</p></center>
@*This is for my button*@
<center><button class="button" style="vertical-align:middle" a href="https://localhost:44317/Home/Contact"><span>Click me!</span></button></center>

@*SlideShow*@
<center>
  <h4>This is my Automatic Slide Show!</h4>
  <div class="slideshow-container">

    <div class="mySlides fade">
      <div class="numbertext">1 / 7</div>
      <img src="~/Content/California1.png" style="width:100%">
      <div class="text">California</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">2 / 7</div>
      <img src="~/Content/California.2" style="width:100%">
      <div class="text">California</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">3 / 7</div>
      <img src="~/Content/Hawaii1.png" style="width:100%">
      <div class="text">Hawaii</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4 / 7</div>
      <img src="~/Content/Hawaii2.png" style="width:100%">
      <div class="text">Hawaii</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">5 / 7</div>
      <img src="~/Content/Hawaii3.png" style="width:100%">
      <div class="text">Hawaii</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 7</div>
      <img src="~/Content/Portland1.png" style="width:100%">
      <div class="text">Portland</div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 7</div>
      <img src="~/Content/Portland2.png" style="width:100%">
      <div class="text">Portland</div>
    </div>
  </div>
  <div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</center>